*{
    box-sizing: border-box;
    margin: 0px;
}

.container{
    width: 70%;
    margin: auto;
}

.row::after{
    content:"";
    clear: both;
    display: table;
}

.col{
    float: left;
    height:400px;
    width: 30.3333333%;
    margin: 1.5%;
    position: relative;
}

.col img{
    width: 100%;
    object-fit: cover;
}

.discount,
.sost{
    padding: 3px;
    font-size: 12px;
}

.discount{
    position: absolute;
    left: 0px;
    bottom: 30px;
}

.sost{
    position: absolute;
    left: 35px;
    bottom: 30px;

}

.char_spec{
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0px;
    top: 20px;
    text-align: center;
    line-height: 30px;
}

.info{
    margin-top: 10px;
}

.info span p {
    font-size: 10px;
}










